<a href="https://colab.research.google.com/github/Steve-YJ/Explore-Kaggle/blob/master/5_Day_Data_Challenge_Day_1(Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import pandas so we can use data frames.

In [1]:
# import pandas

import pandas as pd

Read in and print out entire csv

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
%cd drive/My\ Drive/Kaggle-DataScience/Explore-Kernels

/content/drive/My Drive/Kaggle-DataScience/Explore-Kernels

In [8]:
! ls

'01. [House Prices] Comprehensive data exploration with Python.ipynb'
'02.[House Price] predict 0.3% Advanced Regression Techs.ipynb'
'5 Day Data Challenge:Day 1(Python).ipynb'
 data

In [9]:
pd.read_csv("./data/archive.csv")

          Year  ... March Average Temperature (Pennsylvania)
0         1886  ...                                      NaN
1         1887  ...                                      NaN
2         1888  ...                                      NaN
3         1889  ...                                      NaN
4         1890  ...                                      NaN
..         ...  ...                                      ...
127       2013  ...                                     33.9
128       2014  ...                                     30.3
129       2015  ...                                     31.6
130       2016  ...                                     43.4
131  1901-2000  ...                                     35.9

[132 rows x 10 columns]

Assign our data to a variable named data and describe/summarize it.

In [10]:
data = pd.read_csv("./data/archive.csv")
data.describe()

       February Average Temperature  ...  March Average Temperature (Pennsylvania)
count                    123.000000  ...                                 123.00000
mean                      33.802846  ...                                  35.90813
std                        3.269379  ...                                   4.19167
min                       25.230000  ...                                  24.50000
25%                       31.785000  ...                                  33.00000
50%                       33.690000  ...                                  35.90000
75%                       36.005000  ...                                  38.50000
max                       41.410000  ...                                  47.70000

[8 rows x 8 columns]