<a href="https://colab.research.google.com/github/Steve-YJ/Explore-Kaggle/blob/master/Day1_Titanic_Project_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Titanic Project Example Walk Through
This Notebook created by Ken Jee(a head Data Science at Scouts Consulting Group)<br>

* In this notebook we'll learn
    * how a data scientist would go about working through a problem
    * Goal: correctly predict if someone survived the Titanic shipwreck
    * Fun: without deep learning, how well he train the model

* Video
    * https://www.youtube.com/watch?v=I3FBJdiExcg

## Overview 
### 1) Understand the shape of the data (Histograms, box plots, etc.)

### 2) Data Cleaning 

### 3) Data Exploration

### 4) Feature Engineering 

### 5) Data Preprocessing for Model

### 6) Basic Model Building 

### 7) Model Tuning 

### 8) Ensemble Modle Building 

### 9) Results

From my point of:<br>
At first glance, you can see that the modeling part is really simple. :)<br>
Data...Data...Data... for Preprocessing<br>
Build Model -> Model Tuning -> Make strong -> see the result
<br><br>

## Let's get it Started!!
---

In the colab environment, drive mount is performed.(If it is not a colab, pass it!)

## Drive Mount

In [1]:
from google.colab import drive

drive.mount("/content/drive", force_remount=True)  # force_remount=True: it will only automatically remount account A

! pwd

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive
/content

In [6]:
%cd /content/drive/My Drive/Kaggle-DataScience
! pwd
! ls

/content/drive/My Drive/Kaggle-DataScience
/content/drive/My Drive/Kaggle-DataScience
'01. Classification-Titanic.ipynb'   Dataset
'Basic for Kaggle'		    'Day1. Titanic Project Example.ipynb'

* add Autoreload
    * IPython: Autoreload
    * IPython extension to reload modules before executing user code.

In [9]:
%load_ext autoreload
%autoreload 2

## Import Library
* Import Libarary
* Load Data

In [8]:
import numpy as np               # for linear algebra
import pandas as pd              # for data processing
import seaborn as sns           # for data visualization
import matplotlib.pyplot as plt  # for data visualization

%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

load train, test data

In [10]:
training = pd.read_csv('./Dataset/train.csv')
test = pd.read_csv('./Dataset/test.csv')

training['train_test'] = 1
test['train_test'] = 0
test['Survived'] = np.NaN  
all_data = pd.concat([training, test])

# print all_data
all_data

     PassengerId  Survived  Pclass  ... Cabin Embarked  train_test
0              1       0.0       3  ...   NaN        S           1
1              2       1.0       1  ...   C85        C           1
2              3       1.0       3  ...   NaN        S           1
3              4       1.0       1  ...  C123        S           1
4              5       0.0       3  ...   NaN        S           1
..           ...       ...     ...  ...   ...      ...         ...
413         1305       NaN       3  ...   NaN        S           0
414         1306       NaN       1  ...  C105        C           0
415         1307       NaN       3  ...   NaN        S           0
416         1308       NaN       3  ...   NaN        S           0
417         1309       NaN       3  ...   NaN        C           0

[1309 rows x 13 columns]

* In the Library Import Part
    * load training data from pandas
    * load test data from pandas
    * make all_data: concat([training, test])

In [16]:
# If you need check, print it

# print(training.shape)
# print(test.shape)
# print(training.shape[0] + test.shape[0])
# print(all_data.shape)

(891, 13)
(418, 13)
1309
(1309, 13)

## Project Planning
Ken said, When we starting any project, he like to outline steps that he plan to take.

In [17]:
# Understand nature of the data .info() .describe()
# Histogram and boxplots
# Value counts
# Missing data
# Correlation between the metrics
# Explore Interesting themes
    # Wealthy survive?
    # By location
    # Age scatterplot with ticket price
    # Young and wealthy Variable?
    # Total spent?
# Feature engineering
# preprocess data together or use a transfomer?
    # use label for train and test
# Scaling?
# Model Baseline
# Model comparison with CV

## Light Data Exploration
### 1) For numeric data
### 2) For Categorical Data

## Feature Engineering
### 1) Cabin
### 2) Tickets
### Does a person's title relate to survival rates?

## Data Preprocessing for Model
### 1) Drop null values from Embarked

## Model Building(Baseline Validation Performance)

## Model Tuned Performance

## Model Additional Ensemble Approaches